<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GloboFly API</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>
<body>
    <main>
        <h2 class="text-center">GloboFly API</h2>
        <section class="presentation">
            <div>
                <b>Destination</b>
            </div>
    
            <div>
                <b>GET</b> <span>/destinations</span>, <span>/destinations/:id </span>
            </div>
            
            <div>
                <b>POST</b> /destination
            </div>
    
            <div>
                <b>PUT</b> /destination/:id
            </div>
    
            <div>
                <b>DELETE</b> /destination/:id
            </div>
        </section>
    </main>
</body>
</html>